<%- include('includes/admin/head') %>
<%- include('includes/admin/header') %>

<section id="custom-container" class="container w-100 mt-3 mx-0 p-0">
    <div class="bg-black">
        <p class="text-white px-3 fw-bold py-3">Coupon / Edit Coupon</p>
    </div>
    <div class="form-container d-flex flex-column justify-content-center align-items-center">
        <p class="text-center text-white fw-bold fs-3">Edit Coupon</p>
    </div>
    <form action="/admin/edit-coupon?id=<%-coupon._id%>" method="post" class="d-flex flex-column align-items-center">
        <div class="input-container d-flex flex-column col-5 py-1">
            <label for="coupon-code" class="text-white fw-bold fs-5 py-1">Coupon code</label>
            <input type="text" name="coupon_id" id="coupon-code" class="rounded border-0 py-2 px-2" placeholder="Coupon Code" value="<%-coupon.coupon_id%>" required>
        </div>

        <div class="input-container d-flex flex-column col-5 py-1">
            <label for="users_allowed" class="text-white fw-bold fs-5 py-1">Maximum allowed users</label>
            <input type="number" name="user_allowed" id="users_allowed" class="rounded border-0 py-2 px-2" placeholder="Maximum allowed users" value="<%-coupon.user_allowed%>" required>
        </div>

        <div class="input-container d-flex flex-column col-5 py-1">
            <label for="minimum_purchase" class="text-white fw-bold fs-5 py-1">Minimum purchase amount</label>
            <input type="number" name="minimum_purchase" id="minimum_purchase" class="rounded border-0 py-2 px-2" placeholder="Minimum purchase amount" value="<%-coupon.minimum_purchase%>" required>
        </div>

        <div class="input-container d-flex flex-column col-5 py-1">
            <label for="discount" class="text-white fw-bold fs-5 py-1">Discount amount</label>
            <input type="number" name="discount" id="discount" class="rounded border-0 py-2 px-2" placeholder="Discount amount" value="<%-coupon.discount%>" required>
        </div>
        
        <div class="input-container d-flex flex-column col-5 py-1">
            <label for="expiry_date" class="text-white fw-bold fs-5 py-1">Expiry date</label>
            <input type="date" name="expiry_date" id="expiry_date" class="rounded border-0 py-2 px-2" placeholder="Expiry Date" value="<%-coupon.expiry_date.toISOString().split('T')[0]%>" required>
        </div>
        <%if (typeof err!="undefined" && err) {%>
            <p class="text-danger text-center"><%=err%></p>
        <%}%>
       <div class="d-flex flex-row justify-content-center align-items-center col-5 py-2">
            <button class="btn bg-white border-0 rounded mx-1 px-4 py-2"><a href="/admin/coupon-management" class="text-dark text-decoration-none">Cancel</a></button>
            <button class="btn bg-success border-0 rounded mx-1 px-4 py-2 text-white" type="submit">Update Coupon</button>
       </div>
    </form>
</section>

<%- include('includes/admin/footer') %>