<%- include('includes/admin/head') %>
    <%- include('includes/admin/header') %>

        <section id="custom-container" class="container w-100 mt-3 mx-0 p-0">
            <div class="bg-black">
                <p class="text-white px-3 fw-bold py-3">Sub Category / Edit Sub Category</p>
            </div>
            <div class="form-container d-flex flex-column justify-content-center align-items-center">
                <p class="text-center text-white fw-bold fs-3">Edit Sub Category</p>
            </div>
            <form action="/admin/update-subcategory?id=<%-subcat._id%>&parent=<%-subcat.parent_category%>&_method=PUT"
                method="post" class="row px-4" enctype="multipart/form-data">
                <div class="col-md-6 col-12">
                    <div class="preview-img p-3 text-center d-block h-100" id="img-preview">
                        <div class="img-container">
                            <img src="<%-subcat.sub_category_image%>" class="w-50" alt="" srcset="">
                        </div>
                        <a href="#" class="text-white text-decoration-none py-2">
                            <div class="d-flex flex-row text-center" id="change-img">
                                Change Image
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="container d-none color m-0" id="choose-img">

                        <div class="col-12">
                            <p class="text-center text-white">Choose Image</p>
                            <div class="col-12 bg-white p-2">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div
                                        class="preview-con1 w-75 d-none justify-content-center align-items-center flex-column">

                                        <img alt="" srcset="" id="preview-main1" class="w-75">

                                    </div>
                                    <label for="product-main1" class="bg-success p-2 text-white">Choose Image</label>
                                    <input type="file" id="product-main1" name="category-image"
                                        onchange="validateImage(event,1)" class="d-none">
                                </div>

                            </div>
                            <p id="error-msg1" class="text-danger text-center"></p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center" id="upload-cancel">
                            <p class="text-white fw-bold m-0">Cancel</p>
                            <span class="material-symbols-outlined text-white">
                                close
                            </span>
                        </div>
                    </div>




                </div>
                <div class="d-flex flex-column align-items-center col-md-6 col-12 px-5">
                    <div class="input-container d-flex flex-column col-12 py-1">
                        <label for="category_name" class="text-white fw-bold fs-5 py-1">Sub Category Name</label>
                        <input type="text" name="category_name" id="category_name" class="rounded border-0 py-2 px-2"
                            placeholder="Category Name"
                            value="<%-subcat.sub_category_name.charAt(0).toUpperCase()+subcat.sub_category_name.substring(1).replaceAll("
                            -"," ")%>" required>
                    </div>
                    <div class="input-container d-flex flex-column col-12 py-1">
                        <label for="category_description" class="text-white fw-bold fs-5 py-1">Description</label>
                        <input type="text" name="category_description" id="category_description"
                            class="rounded border-0 py-2 px-2" placeholder="Category Description"
                            value="<%-subcat.description%>" required>
                    </div>




                    <%if (typeof err!="undefined" && err) {%>
                        <p class="text-danger text-center">
                            <%=err%>
                        </p>
                        <%}%>

                </div>


                <div class="d-flex flex-row justify-content-center align-items-center col-12 py-2">
                    <button class="btn bg-white border-0 rounded mx-1 px-4 py-2"><a
                            href="/admin/sub-category-management"
                            class="text-dark text-decoration-none">Cancel</a></button>
                    <button class="btn bg-success border-0 rounded mx-1 px-4 py-2 text-white" type="submit"
                        id="update-btn">Update Category</button>
                </div>
                </div>

            </form>
        </section>
        <script>

            function validateImage(evt, id) {

                const preview_main = document.getElementById(`preview-main${id}`);
                const product_main = document.getElementById(`product-main${id}`);
                const file_name = product_main.value;


                let dot = file_name.lastIndexOf(".") + 1;
                let ext = file_name.substr(dot, file_name.length)

                if (ext != "png" && ext != "jpg" && ext != "jpeg") {
                    document.getElementById(`error-msg${id}`).innerText = "Only png,jpeg,jpg images are supported";
                } else {
                    document.querySelector(`.preview-con${id}`).classList.remove('d-none');
                    document.querySelector(`.preview-con${id}`).classList.add('d-flex');
                    preview_main.src = URL.createObjectURL(evt.target.files[0]);
                }
            }


        </script>
        <script src="/admin/js/image-validation.js"></script>
        <%- include('includes/admin/footer') %>