<%- include('includes/users/head') %>
    <%- include('includes/users/header') %>
        <!-- banner part start-->
        <section class="banner_part">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="banner_slider owl-carousel">
                            <%banners.forEach((banner)=>{%>
                                <div class="single_banner_slider">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-8">
                                            <div class="banner_text">
                                                <div class="banner_text_iner">
                                                    <h1><%-banner.title%></h1>
                                                    <p><%-banner.description%></p>
                                                    <a href="<%-banner.action_link%>" class="btn_2">buy now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="banner_img d-none d-lg-block">
                                            <img src="<%-banner.banner_image%>" alt="">
                                        </div>
                                    </div>
                                </div>
                                <%})%>

                        </div>
                        <div class="slider-counter"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->

        <!-- feature_part start-->
        <section class="feature_part padding_top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section_tittle text-center">
                            <h2>Featured Category</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <%categories.forEach((category,index)=>{%>
                        <%if(index%2==0){%>
                            <div class="col-lg-5 col-sm-6">
                                <%}else{%>
                                    <div class="col-lg-7 col-sm-6">
                                        <%}%>

                                            <div class="single_feature_post_text rounded"
                                                style="background:linear-gradient(90deg, rgba(0,0,0,0.3982843137254902) 97%, rgba(0,0,0,0.4431022408963585) 100%),url(<%-category.category_image%>); background-position:center; background-size: cover;">
                                                <p class="text-white"><%-category.description%></p>
                                                <h3 class="text-white">
                                                    <%-category.category_name.charAt(0).toUpperCase()+category.category_name.substring(1).replaceAll("-"," ")%></h3>
                        <a href=" users/store?category=<%-category.category_name%>" class="feature_btn">EXPLORE NOW <i
                                                            class="fas fa-play"></i></a>
                                                        <img src="" alt="">
                                            </div>
                                    </div>
                                    <%})%>


        </section>
        <!-- upcoming_event part start-->

        <!-- product_list start-->
        <section class="product_list section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="section_tittle text-center">
                            <h2>New <span>Products</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_list_slider owl-carousel">

                            <div class="single_product_list_slider">

                                <div class="row align-items-center justify-content-between">
                                    <%products.forEach((product)=>{%>
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="single_product_item">
                                                <a href="/users/view-product/<%-product._id%>">
                                                    <img src="<%-product.images[0].URL%>" alt="">
                                                </a>
                                                <div class="single_product_text">
                                                    <h4><%-product.product_name%></h4>
                                                    <div class="d-flex">
                                                        <s>
                                                            <h3 id="sale_price" class="text-muted px-1">₹
                                                                <%-product.price%></h3>
                                                        </s>
                                                        <h3 id="sale_price">₹ <%-product.sale_price%></h3>
                                                    </div>
                                                    <a href="/users/view-product/<%-product._id%>" class="add_cart">View
                                                        Product</a>
                                                </div>
                                            </div>
                                        </div>
                                        <%})%>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product_list part start-->




        <!-- subscribe_area part start-->
        <section class="client_logo padding_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_1.png" alt="">
                        </div>
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_2.png" alt="">
                        </div>
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_3.png" alt="">
                        </div>
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_4.png" alt="">
                        </div>
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_5.png" alt="">
                        </div>
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_3.png" alt="">
                        </div>
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_1.png" alt="">
                        </div>
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_2.png" alt="">
                        </div>
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_3.png" alt="">
                        </div>
                        <div class="single_client_logo">
                            <img src="img/client_logo/client_logo_4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--::subscribe_area part end::-->
        <%- include('includes/users/footer') %>