<%- include('includes/users/head') %>
  <%- include('includes/users/header') %>

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="breadcrumb_iner">
              <div class="breadcrumb_iner_item">
                <h2>Order Confirmation</h2>
                <p>Home <span>-</span> Order Confirmation</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb start-->

    <!--================ confirmation part start =================-->
    <section class="confirmation_part padding_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="confirmation_tittle">
              <span>Thank you. Your order has been received.</span>
            </div>
          </div>
          <div class="col-lg-6 col-lx-4">
            <div class="single_confirmation_details">
              <h4>Order info</h4>
              <ul>
                <li>
                  <p>Order number</p><span>: <%-order._id%></span>
                </li>
                <li>
                  <p>Date</p><span>: <%-order.order_date.toISOString().slice(0,10)%></span>
                </li>
                <li>
                  <p>Total</p><span>: ₹<%-order.bill_amount%></span>
                </li>
                <li>
                  <p>Payment method</p><span>: <%-order.payment_method%></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-lx-4">
            <div class="single_confirmation_details">
              <h4>Shipping Address</h4>
              <ul>
                <li>
                  <p>Address</p><span>: <%-order.billing_address.add_one%></span>
                </li>
                <li>
                  <p>city</p><span>: <%-order.billing_address.city%></span>
                </li>
                <li>
                  <p>country</p><span>: <%-order.billing_address.country%></span>
                </li>
                <li>
                  <p>postcode</p><span>: <%-order.billing_address.zip%></span>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="order_details_iner">
              <h3>Order Details</h3>
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <%order.products.forEach((ele)=>{%>
                    <tr>
                      <th colspan="2"><span><%-ele.item.product_name%></span></th>
                      <th>x <%-ele.qty%></th>
                      <th> <span>₹ <%-ele.totalPrice%></span></th>
                    </tr>
                    <%})%>
                </tbody>
                <tfoot>
                  <tr class="d-flex flex-column">
                    <th scope="col" class="fw-light text-gray" style="color:gray;font-size: 14px;">Coupon Discount :
                      <%-order.coupon_discount%></th>
                    <%if(order.wallet_discount){%>
                      <th scope="col" class="fw-light text-gray" style="color:gray;font-size: 14px;">Wallet Discount : ₹
                        <%-order.wallet_discount%></th>
                      <%}%>
                        <th scope="col">Sub Total : <%-order.bill_amount%></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout_btn_inner d-flex justify-content-center align-items-center mt-3">
        <a class="btn_1 mx-1" href="/">Continue Shopping</a>
        <a class="btn_1 mx-1" href="/users/order-details/<%-order._id%>">View Order Details</a>
      </div>
    </section>
    <!--================ confirmation part end =================-->




    <%- include('includes/users/footer') %>